*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.sidebarRow1 {
    display: flex;
    align-items: center;
    margin: 0;
    width: 90%;
}

.sidebarRow__icon1 {

    height: 30px;
    margin-bottom: 0px;
    
    margin-left: 5px;
    margin-bottom: 5px;
}

.sidebarRow__title1 {
    flex: 1;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
   
}

.sidebarRow__title1.avatar {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}


.avatar {
    margin-bottom: 10px;
}

.sidebarRow__icon1.avatar{
    border-radius: 20px !important;
    margin-top: 15px;
    height: 25px !important;
}

.colorwrap1 {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    width: 200px;

    border: 1px solid rgba(255, 255, 255, 0);
}

.colorwrap1:hover {
    margin-left: 10px;
    background-color: rgba(199, 199, 199, 0.561);
    display: flex;
    flex-direction: row;
    width: 200px;
    cursor: pointer;
    border: 0px solid rgba(199, 199, 199, 0.561);
    border-radius: 7px;
}

.sidebarRow__text1{
    flex: 1;
    color: gray;
    font-size: 15px;
    font-weight: 400;
  
    
}

.enlign{
    color: green;
    margin: 0;
    padding: 0;
}
.enlign > .MuiSvgIcon-root{
    width: 10px;
    position: absolute;
    left:35px;
}